#FormCategory{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    z-index: 99999999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#FormCategory > form{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    box-shadow: 2px 2px 3px #0000003b;
    justify-content: center;
}
#FormCategory figure > form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;

}

#FormCategory form article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 30px 20px;
}
#FormCategory form article div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#FormCategory form article div input , #FormCategory form article div select{
    width: 100%;
}

#FormCategory form > div:last-of-type{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#FormCategory form > div:last-of-type button{
    width: 100%;
    color: var(--white);
    background-color: var(--pink);
}

#FormCategory form > div:last-of-type button:last-of-type{
    width: 100%;
    color: var(--white);
    background-color: var(--blue);
}

#FormCategory form  label{
    color: var(--pink);
}


#FormCategory form  span{
    font-size: 22pt;
    color: var(--blue);
    display: flex;
    align-items: center;
    position: relative;
    height: 200px;
    width: 200px;
    justify-content: center;
    border: dotted ;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}
#FormCategory form  span input{
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 999;
}
#FormCategory form  span img{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 99;
    background-size: cover;
}



@media screen and (max-width : 1024px) and (min-width : 719px){
#FormCategory form article{
    grid-template-columns: 1fr;
}#FormCategory > form{
    width: 80%;
}
}