*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}



:root {
  --green : #048046;
  --pink : #ed0a34;
  --pink2 :#f6d6dc;
  --white : #ffffff;
  --gray : #f4f4f4;
  --gray2:  #c5c3c3;
  --blue : #0553c0;
  --yellow : #ff9100;
}

#app{
  width: 100%;
  display: flex;
  flex-direction: column;
}

#app sub{
  position: absolute;
  right: 5px;
  top: 20px;
  font-size: 12pt;
}
#app > header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  height: 10%;
  color: var(--pink);
}

#app > header img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#app > header > div{
  display: flex;
  align-items: center;
  font-size: 10pt;
  height: 100%;
  gap: 5px;
}


#app > header > span{
  display: flex;
  align-items: center;
  font-size: 13pt;
  height: 100%;
  gap: 10px;
}


#app > nav{
  position: fixed;
  z-index: 999;
  padding: 10px;
  height: 90%;
  bottom: 0;
  left: 0;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
}

#app > nav ol{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;
  align-items: center;

}

#app > nav ol a{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray2);
  width: 80%;
  height: 80px;
  border-radius: 10px;
  flex-direction: column-reverse;
  gap: 5px;
  text-decoration: none;
  font-size: 12pt;
  transition: all .2s linear;
}

#app > nav ol a:hover{
  color: var(--pink);
  border: solid 1px var(--pink);
  transform: translateX(15px);
}
#app > nav ol a svg{
  font-size: 16pt;
}
#app > nav button{
  display: flex;
  background-color: var(--pink);
  color: var(--white);
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 45px;
  font-size: 13pt;
}
#app > section{
  position: fixed;
  height: 90%;
  bottom: 0;
  right: 0;
  width: 85%;
  background-color: var(--gray);
}

button{
  min-height: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all .5s linear;
}
button:active , #app svg:active{
  scale: 0.8;
}

input , select {
  min-height: 40px;
  border-radius: 4px;
  transition: all .5s linear;
  outline-color: var(--pink);
  padding-left: 5px;
  font-size: 11.5pt;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--pink);
  border-radius: 10px;
}

::selection{
  color: var(--white);
  background-color: var(--pink);
}
svg{
  cursor: pointer;
  transition: all .5s linear;
}

table{
    width: 100%;
    animation: surgir2 1s linear;
}

table thead{
    background-color: var(--gray2);
    color: #2a2828;
}

table  td{
    height: 45px;
    text-align: center;
}

table tbody tr:nth-of-type(even){
    background-color: var(--white);
}
table  p{
    height: 28px;
    background-color: red;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border-radius: 30px;
    font-size: 11pt;
}

table  button{
    background-color: var(--yellow);
    width: 45%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 11pt;
    position: absolute;
    top: 0;
}

table  button:last-of-type{
  right: 0;
  top: 0;
  background-color: var(--pink);
}

table  td:first-of-type , table  td:last-of-type{
    width: 140px;
    position: relative;
    overflow: hidden;
}


del{
  color: var(--pink);
}