#acount{
    width: 100%;
    height: 90dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

#acount form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 70%;
    transition: all .5s linear;
    animation: surgir2 1s linear;
}

#acount form div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

#acount form input{
    padding-left: 25px;
    font-size: 12pt;
}
#acount form div svg{
    position: absolute;
    left: 5px;
    bottom: 11px;
    font-size: 12pt;
}


#acount label , #acount h1 , #acount svg{
    color: var(--pink);
}
 #acount h1 {
    font-size: 22pt;
    transition: all .5s linear;
    animation: surgir 1s linear;
 }

 #acount button{
    width: 100%;
    background-color: var(--pink);
    color: var(--white);
 }



 
@media screen and (max-width : 1024px) and (min-width : 719px){

#acount form{
    grid-template-columns: 1fr;
    gap: 10px;
}
#acount form input{
    height: 50px;
    padding-left: 25px;
}
#acount form div svg{
    bottom: 17px;
    font-size: 13pt;
}

}


